<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Green Dot{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <!--Top Navigation Bar-->
  <header class="topbar">
    <div class="wrap topbar-inner">
      <div class="brand">
        <div class="brand-dot"></div>
        <div>
          <div class="brand-title">Green Dot</div>
          <div class="brand-sub">Wellbeing Reporting System</div>
        </div>
      </div>

      <nav class="nav">
        <a class="nav-link {% if active_page=='home' %}active{% endif %}" href="{{ url_for('home') }}">Home</a>
        <a class="nav-link {% if active_page=='report' %}active{% endif %}" href="{{ url_for('report_hub') }}">Report</a>
        <a class="nav-link {% if active_page=='resources' %}active{% endif %}" href="{{ url_for('resources') }}">Resources</a>
        <a class="nav-link {% if active_page=='info' %}active{% endif %}" href="{{ url_for('info') }}">Information</a>

        <!---shows Admin Dashbaord Button only if user role is admin--->
        {% if session.get("role") == "admin" %}
          <a class="nav-link" href="{{ url_for('admin_dashboard') }}">Admin Dashboard</a>
        {% endif %}
        {% if session.get("user_id") %}
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        {% else %}
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        {% endif %}
      </nav>
    </div>
  </header>

  <!--Content Page-->
  <main class="wrap page">
    {% block content %}{% endblock %}
  </main>

  <!--Footer-->
  <footer class="bottombar">
    <div class="wrap footer-inner">
      <span>Wellbeing Reporting Tool Prototype</span>
      <span>© 2026</span>
    </div>
  </footer>

</body>
</html>